/*----Universal----*/
*{
  margin: 0;
  font-family: 'Playfair+Display', 'Lora', 'Old+Standard+TT', sans-serif;
}

body {
  background-color: #c5cae9;
}

/*----Header----*/
header{
  background-color: #3f51b5;
  color: white;
  margin-bottom: 1rem;
}

#name {
  padding: 30px 15px;
  text-align: right;
  text-transform: uppercase;
}

/*----Menu----*/
.nav {
}

.nav ul {
  list-style: none;
  background-color: #303f9f;
}

a:link, a:visited {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #ff4081;
}

.show-more-nav {
  color: white;
}

.menu-btn div {
	position: relative;
	left: 100%;
	top: 64%;
	margin-top: -5.3em;
	line-height: 1.2;
	font-size: 18px;
	font-weight: 200;
	vertical-align: middle;
	z-index: 99;
}

.menu-btn span {
	display: block;
	width: 32px;
	height: 3px;
	margin: 6px 13px;
	background: rgb(255,255,255);
	z-index: 99;
}

.responsive-menu{
	display: none;
}

#menu {
  display: none;
}

.hidden{
  display: none;
}

.expand {
	display: inline-block;
  width:210px;
  margin-top: 2.75rem;
}

.expand li {
  margin: 8px 15px;
  text-indent: -2rem;
  padding: 15px 0 10px;
  text-align:left;
  position:relative;
  z-index:99;
  text-transform: uppercase;
}


@media (min-width: 700px) {
  #menu {
    display: inline-block;
  }

  .responsive-menu, .mobile-nav, #menu-btn {
    display: none;
  }
}

/*----Footer----*/

footer {
  background-color: #3f51b5;
}

footer a {
  display: block;
  text-align: center;
}

#mount_logo {
  color: #ff4081;
  clear: both;
  margin-top: 1.5rem;
}

/*----Home-Content----*/
main {
  margin: 4rem 0 1rem;
}

@media (min-width:700px) {
  main{
    margin: 1rem 0;
  }
}
